<style type="text/css">
  body {
    background-color: #f6f8fa; 
    color: #24292e; 
    font-family: 'Arial', sans-serif;
  }

  .container {
    max-width: 600px;
    margin: 50px auto;
  }

  h1 {
    color: #0366d6; 
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #0366d6; 
  }

  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn-primary {
    background-color: #0366d6; 
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }

  .btn-primary:hover {
    background-color: #034471; 
  }
</style>
<body>
<h1>Enter Commit Details</h1>
<%= form_with model: @commit, url: diff_commit_path, method: :post do |f|%>
  <div class="form-group">
    <%= f.label :owner, class: "text-white" %>
    <%= f.text_field :owner, class: "form-control", placeholder: "Enter Repo Owner", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :repository, class: "text-white" %>
    <%= f.text_field :repository, class: "form-control", placeholder: "Enter Repository", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :commit_sha, class: "text-white" %>
    <%= f.text_field :commit_sha, class: "form-control", placeholder: "Enter Commit SHA", required: true %>
  </div>

  <%= f.submit "Show Diff", class: "btn btn-primary" %>
<% end %>
</body>